PORT=5001
MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.mongodb.net/urbanetperu?retryWrites=true&w=majority
JWT_SECRET=cambia_esto_por_una_clave_segura
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
GMAIL_USER=tucorreo@gmail.com
GMAIL_PASS=contraseña_de_aplicación_de_16_caracteres
